.support-section {
    display: flex;
    justify-content: space-between;
    margin: 10rem auto;
}
.support-title {
    width: 40%;
}
.support-title h5 {
    font-size: 1rem;
    color: #004EEB;
}
.support-main {
    width: 55%;
}