.sp-image-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1rem;
}
.sp-image-section img {
    object-fit: scale-down;
}
.sp-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3.5rem auto;
}
